:root {
    --main-color: #003366;
    --secondary-color: #005B99;
    --text-color: #D3D3D3;
    --footer-color: #005B99;
    --card-bgcolor: #006699;
    --card-bordercolor: #003366;
    --box-color: #005B99;
    --icon-color: #D3D3D3;
    --link-color: #87CEEB;
}
@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--main-color);
    font-family: Helvetica;
}

header {
    width: 100%;
    height: 50px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

nav {
    width: 70%;
    max-width: 400px;
    height: 50px;
}

nav>ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

nav>ul>li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
    font-size: 1.2rem;
}

nav>ul>li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
}

li>a {
    color: inherit;
    text-decoration: none;
}

main {
    padding-top: 50px;
}

.welcome{
    width: 100%;
    margin: 0 auto 10px auto;
    padding: 200px 0;
    color: var(--text-color);
}

.welcome ::selection {
    background: lightblue;
}

#intro-myname {
    font-size: 4rem;
}

#brief-intro {
    font-size: 1.2rem;
    font-style: italic;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}
  
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

figcaption {
    font-size: 1rem;
    color: var(--text-color);
    text-align: center;
    margin-top: 10px;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--footer-color);
}

#contact {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ::selection {
    background: var(--box-color);
}

.personal-project-title, .footer-title {
    font-size: 2rem;
    color: var(--text-color);
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons > a {
    font-size: 2rem;
    margin: 10px;
    color: var(--icon-color) ;
    padding: 5px 10px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease, color 0.3s ease;
} 

.social-icons > a:hover {
    background-color: var(--box-color);
    color: var(--link-color);
    cursor: pointer;
}

address> p > a{
    align-items: center;
    color: var(--text-color) ;
}

address> p > a:hover{
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
}
